/**=====================
     Dark scss
==========================**/
.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  select,
  input,
  textarea,
  span,
  button,
  .btn,
  a {
    color: #fff;
  }

  .text-content {
    color: #ddd;
  }

  .title-leaf {
    svg {
      background-color: #2a2d2d;
    }
  }

  .product-modern {
    border-color: rgba(221, 221, 221, 0.3);

    .owl-carousel {
      .owl-item {
        &.active {
          +.active {
            .row {
              >div {
                .product-box {
                  border-color: rgba(221, 221, 221, 0.3);
                }
              }
            }
          }
        }
      }
    }
  }

  .border-effect {
    border-color: rgba(221, 221, 221, 0.3);
  }

  .product-list {

    &::after,
    &::before {
      border-color: rgba(221, 221, 221, 0.3);
    }

    li {
      &:nth-child(n+4) {
        &:after {
          border-color: rgba(221, 221, 221, 0.3);
        }
      }

      .offer-product {
        .offer-detail {
          span {
            color: #ddd;
          }
        }
      }
    }

    &.sidebar-product {
      li {
        +li {
          &:after {
            border-color: rgba(221, 221, 221, 0.3);
          }
        }
      }
    }
  }

  .category-menu {
    background-color: #1d1d22;

    ul {
      li {
        .category-list {
          img {
            filter: invert(1) brightness(100);
          }

          h5 {
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .title {
    p {
      color: #ddd;
    }
  }

  .product-box {
    &.product-box-bg {
      background-color: #1d1d22;

      .product-image {
        .product-option {
          background-color: #2a2d2d;
        }
      }
    }

    .product-image {
      .product-option {
        background-color: #1d1d22;
        box-shadow: 0 0 8px rgba(34, 34, 34, 0.12);

        li {
          +li {
            &:after {
              background-color: #ddd;
            }
          }

          a {
            color: #fff;
          }
        }
      }
    }
  }

  .blog-box {
    .blog-detail {
      h5 {
        color: #fff;
      }

      h6 {
        color: #ddd;
      }
    }
  }

  .add-to-cart-box {
    background-color: #1d1d22;

    .qty-box {
      .input-group {
        background-color: #1d1d22;
        border-color: transparent;

        input {
          color: #fff;
        }

        button {
          background-color: #2a2d2d;
        }
      }
    }

    .btn-add-cart {
      .add-icon {
        background-color: #2a2d2d;
      }
    }
  }

  .category-box {
    background-color: #1d1d22;

    img {
      filter: invert(1) brightness(100);

      &.background-image {
        filter: unset;
      }
    }
  }

  .menu-product-slider {
    .product-box {
      background-color: #2a2d2d;

      .add-to-cart-box {
        .btn-add-cart {
          background-color: #1d1d22;

          .add-icon {
            background-color: #2a2d2d;

            i {
              color: var(--theme-color);
            }
          }
        }
      }
    }
  }

  .product-rating {
    span {
      color: #ffb321;
    }
  }

  .product-standard {
    .add-to-cart-box {
      .btn-add-cart {
        background-color: #2a2d2d;

        .add-icon {
          background-color: #1d1d22;
        }
      }

      .qty-box {
        .input-group {
          background-color: #2a2d2d;

          button {
            background-color: #1d1d22;
          }
        }
      }
    }
  }

  .recently-purchase {
    background: #2a2d2d;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.07);

    .close-popup {
      color: #fff;
    }
  }

  header {
    .navbar-nav {
      .dropdown-menu {
        background-color: transparent;
      }

      .dropdown-menu-2 {
        .dropdown-column {
          .dropdown-header {
            @include mq-max(xl) {
              color: rgb(255, 255, 255, 0.8);
            }
          }

          .dropdown-item {
            &::before {
              background-color: rgba(221, 221, 221, 0.65);
            }
          }
        }
      }
    }

    .offcanvas-header {
      background-color: #1d1d22;
    }

    .offcanvas-collapse {
      .offcanvas-body {
        .navbar-nav {
          .dropdown-menu {
            .dropdown-item {
              @include mq-max(xl) {
                color: #ddd;
              }
            }
          }
        }
      }
    }

    .offcanvas-body {
      @include mq-max(xl) {
        background-color: #2a2d2d;
      }
    }

    &.active {
      .sticky-header {
        background-color: #2a2d2d;
        box-shadow: 0 8px 10px rgba(255, 255, 255, 0.05);
      }
    }

    .header-nav {
      .header-nav-left {
        .category-dropdown {
          background-color: #2a2d2d;
          box-shadow: 0 0 8px rgba(255, 255, 255, 0.04);

          .category-list {
            li {
              a {
                img {
                  filter: invert(1) brightness(100);
                }
              }
            }
          }
        }
      }

      .header-nav-right {
        .deal-button {
          span {
            color: var(--theme-color);
          }
        }
      }
    }

    .navbar-expand-xl {
      .dropdown-menu {
        @media (min-width: 1200px) {
          box-shadow: -1px 0 10px 0 rgba(255, 255, 255, 0.07),
            5px 20px 40px 0 rgba(255, 255, 255, 0.04);
          background-color: #2a2d2d;
          border-color: #2a2d2d;

          .dropdown-column {
            .dropdown-header {
              color: #fff;
            }
          }

          .dropdown-item {
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .navbar-light {
      .navbar-nav {
        .nav-link {
          color: #fff;
        }
      }
    }

    .top-nav {
      .navbar-top {
        .middle-box {
          .location-box {
            border-color: #777;

            button {
              .locat-name {
                background-color: #2a2d2d;
                color: #ffffff;
              }
            }
          }

          .search-box {
            .input-group {
              .form-control {
                border-color: #777777;
                background-color: transparent;
                color: #fff;

                &::placeholder {
                  color: #fff;
                }

                &::placeholder {
                  color: #777;
                }
              }
            }
          }
        }

        .rightside-box {
          .right-side-menu {
            .right-side {
              &::before {
                background-color: rgba(221, 221, 221, 0.5);
              }

              .delivery-login-box {
                h6 {
                  color: #ddd;
                }

                i,
                h5 {
                  color: #fff;
                }
              }

              .header-wishlist {
                i {
                  color: #ddd;
                }
              }
            }
          }
        }
      }
    }

    .onhover-dropdown {
      .onhover-div {
        background-color: #2a2d2d;
        box-shadow: -1px 0 10px 0 rgba(255, 255, 255, 0.07), 5px 20px 40px 0 rgba(255, 255, 255, 0.04);

        &.fixed-cart {
          .cart-title {
            background-color: #1d1d22;
            border-color: rgba(119, 119, 119, 0.44);
          }

          .progress {
            background-color: #1d1d22;
          }

          .bottom-box {
            border-color: rgba(119, 119, 119, 0.44);
            background-color: #1d1d22;

            .free {
              color: #ddd;
            }
          }
        }

        .qty-box {
          .input-group {
            border-color: rgba(119, 119, 119, 0.4);
            background-color: #1d1d22;

            button {
              background-color: #2a2d2d;
            }
          }
        }

        .pere-text-box {
          border-color: rgb(119 119 119 / 44%);

          p {
            color: rgba(221, 221, 221, 0.65);

            span {
              &.shipping {
                color: #fff;
              }
            }
          }
        }

        .cart-list {
          >li {
            +li {
              border-color: rgba(119, 119, 119, 0.44);
            }

            .drop-cart {
              .drop-contain {
                h5 {
                  color: #fff;
                }

                h6 {
                  color: #ddd;
                }

                .header-button-group {
                  .delete-button {
                    border: 1px solid rgba(119, 119, 119, 0.4);
                    background-color: #1d1d22;
                    color: #ddd;
                  }
                }
              }
            }
          }
        }
      }

      .onhover-div-login {
        .user-box-name {
          li {
            +li {
              color: #777;
              border-color: rgba(119, 119, 119, 0.65);
            }

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: #1d1d22;

    &::before,
    &::after {
      filter: invert(1);
    }

    .main-footer {
      .footer-logo {
        .theme-logo {
          h2 {
            color: #fff;
          }
        }

        .footer-logo-contain {
          p {
            color: #ddd;
          }

          .address {
            li {
              i {
                color: #ddd;
              }

              a {
                color: #ddd;
              }
            }
          }
        }
      }

      .footer-contact {
        ul {
          li {
            &::before {
              border-color: #777;
            }

            .footer-number {
              i {
                color: #ddd;
              }

              .contact-number {
                h5 {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .sub-footer {
      border-color: rgba(193, 193, 193, 0.5);

      .social-link {
        ul {
          li {
            a {
              i {
                color: #ddd;
              }
            }
          }
        }
      }
    }
  }

  .setting-box {
    .theme-setting-2 {
      background-color: #2a2d2d;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.12);

      .theme-box {
        ul {
          li {
            border-color: #777;

            .theme-setting-button {
              button {
                background-color: #2a2d2d;
              }

              &.color-picker {
                .form-control {
                  .form-label {
                    color: #ddd;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .theme-modal {
    .modal-dialog {
      .modal-content {
        background-color: #2a2d2d;
      }
    }
  }

  .view-modal {
    .modal-dialog {
      .modal-content {
        .view-image-slider {
          .owl-nav {
            [class*=owl-] {
              background-color: #1d1d22;
              box-shadow: 0 0 8px rgba(255, 255, 255, 0.07);
              border-color: #1d1d22;

              &::before {
                color: rgba(255, 255, 255, 0.88);
              }
            }
          }
        }
      }
    }
  }

  .selection-section {
    ul {
      &.rectangle {
        li {
          border-color: rgba(154, 154, 154, 0.4);

          &:hover {
            background-color: #1d1d22;
          }

          button {
            background-color: #1d1d22;
          }
        }
      }
    }
  }
}
